.ui.fluid.card(postID=script.postID, index=script.postID, postClass=script.class)
  .content.title
    h2 !{script.body}
  .content
    .ui.two.column.grid.stackable
      .five.wide.column.centered
        video(src=script.picture controls controlsList="nofullscreen" poster type='video/mp4')
        .content.buttons
          .ui.buttons.small
            .ui.left.labeled.button.disabled
              a.ui.basic.green.right.pointing.label #{script.likes || 0}
              .ui.like.button(tabindex='0', data-tooltip="I like this", data-position="bottom center", data-variation="mini")
                i.thumbs.up.icon
                | Upvote
            .ui.right.labeled.button.disabled
              .ui.unlike.button(tabindex='0', data-tooltip="I dislike this", data-position="bottom center", data-variation="mini")
                i.thumbs.down.icon
                | Downvote
              a.ui.basic.red.left.pointing.label #{script.unlikes || 0}
          .secondary-buttons
            .ui.flag.button.small.disabled(tabindex='0', data-tooltip="Report Video", data-position="top center", data-variation="mini")
              i.flag.icon
              | Flag
      .eleven.wide.column.centered
        h3 Comments
        .ui.divider(style="margin:0px;")
        .ui.form
          .inline.field
            .image(style="min-width: 3em; max-width: 3em; min-height: 3em; max-height: 3em; margin: 0.2em 0.2em 0 0; display: flex; justify-content: center; align-items: center; overflow: hidden; border-radius: 50%;")
              img.ui.image.rounded(src=user.profile.picture style="width: 70%; height: 70%; object-fit: cover; border-radius: 50%;")
            textarea.replyToVideo(
              name='replyToVideo' 
              type='text' 
              placeholder='Add a Comment...' 
              rows='1' 
              disabled=true
            )
            i.big.send.link.icon.replyToVideo.disabled

        .ui.comments
          each comment in script.comments
            .comment
              .image(style="background-color:" + comment.actor.profile.color + ";")
                a.avatar
                  img(src=comment.actor.profile.picture)
              .content
                a.author #{comment.actor.profile.name}
                .text #{comment.body}
                .actions
                  a.like.disabled
                    i.thumbs.up.icon
                    | #{comment.likes || 0}
                  a.unlike.disabled
                    i.thumbs.down.icon
                    | #{comment.unlikes || 0}
                  a.flag.disabled Flag
                  a.reply.disabled Reply

                if comment.subcomments && comment.subcomments.length > 0
                  .comments
                    each reply in comment.subcomments
                      .comment
                        .image(style="background-color:" + reply.actor.profile.color + ";")
                          a.avatar
                            img(src=reply.actor.profile.picture)
                        .content
                          a.author #{reply.actor.profile.name}
                          .text #{reply.body}
                          .actions
                            a.like.disabled
                              i.thumbs.up.icon
                              | #{reply.likes || 0}
                            a.unlike.disabled
                              i.thumbs.down.icon
                              | #{reply.unlikes || 0}
                            a.flag.disabled Flag
                            a.reply.disabled Reply